%div.jumbotron.sign-up
  %h2 Sign in
  %div.container
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div.row
        %div.col-xs-4.vcenter= f.label :email
        %div.col-xs-8= f.email_field :email, :autofocus => true

      %div.row
        %div.col-xs-4.vcenter= f.label :password
        %div.col-xs-8=f.password_field :password

      %div.row
        -if devise_mapping.rememberable?
          %div.col-xs-4= f.submit "Sign in"
          %div.col-xs-8
            = f.check_box :remember_me
            %label.remember-me= f.label :remember_me

  = render "devise/shared/links"
