!!!DOCTYPE html
%html
%head
  %title Mystery Works
  = stylesheet_link_tag    "application", :media => "all"
  = stylesheet_link_tag controller.controller_name
  = javascript_include_tag 'application'
  = javascript_include_tag controller.controller_name
  = csrf_meta_tags
%body
  %nav.navbar.navbar-inverse.navbar-fixed.navbar-collapse#main-nav{:role => "navigation"}
    %ul.nav.navbar-nav
      %li
        %a.navbar-brand{:href => root_path} Mystery Works
    %ul.nav.navbar-nav.navbar-right
      -if user_signed_in?
        %li
          -if !current_user.admin?
            %a{:href => edit_user_registration_path}=current_user.nickname
          -else
            %a#admin{:href => edit_user_registration_path}=current_user.nickname
        %li
          =link_to 'Logout', destroy_user_session_path, :method => :delete
      -else
        %li
          %a{:href => new_user_session_path} Login
        %li
          %a{:href => new_user_registration_path} Register
  %main
    %div.container-fluid
      -unless notice.nil?
        %div.notice.alert.alert-success.alert-dismissable
          %button.close.custom-close{:type => "button", 'data-dismiss' => "alert", 'aria-hidden' => true} &times;
          = notice
      -unless alert.nil?
        %div.alert.alert-danger.alert-dismissable
          %button.close.custom-close{:type => "button", 'data-dismiss' => "alert", 'aria-hidden' => true} &times;
          = alert
    = yield
